/* HEADER */
#headerPage {
	height:100vh; 
	width:100%; 
	background-image:url(images/back.jpg);
	background-repeat:no-repeat; 
	background-size: cover;
	position: absolute;
}

#headerCover {
	height:100vh; 
	width:100%;
	background: rgba(255, 144, 0, 0.9); 
	position: absolute;
}

#avatar {
	border-radius:53%; 
	position: absolute; 
	top: 49.5%; 
	left: 50%;
	width: 200px; 
	height: 200px; 
	margin-top: -220px; 
	margin-left: -100px;
}

#namePlate {
	box-sizing:border-box; 
	color: white; //rgba(255, 144, 0); 
	font-family: Kaushan Script, cursive; 
	margin-bottom: 20px; 
	font-size: 50px; 
	line-height: 1.3; 
	font-weight: 300;
	-webkit-transform: rotate(-5deg); 
	-moz-transform: rotate(-5deg); 
	-ms-transform: rotate(-5deg); 
	-o-transform: rotate(-5deg);
	transform: rotate(-5deg); 
	position: absolute; 
	text-align:center; 
	top: 50%; 
	width: 100%;

}

#rolePlate {
	color: white; //#4d4d4d; 
	font-size: 20px; 
	font-weight: 300; 
	line-height: 30px; 
	position: absolute; 
	text-align:center; 
	top: 52%;
	width: 100%;
}